@using Microsoft.AspNetCore.Mvc.TagHelpers
@model SmartKart.Web.Models.Product

<div class="col-12 col-md-3">
    <div class="card">
        <div class="card-header bg-success text-white text-uppercase">
            <i class="fa fa-heart"></i> Top product
        </div>
        <a asp-page="ProductDetail" asp-route-productId="@Model.Id"><img asp-append-version="true" class="img-fluid border-0" src="~/images/product/@Model.ImageFile" alt="Card image cap"></a>
            <div class="card-body">
                <h4 class="card-title text-center"><a asp-page="ProductDetail" asp-route-productId="@Model.Id" title="View Product">@Model.Name</a></h4>
                <div class="row">
                    <div class="col text-center">
                        <p><h3>$@Model.Price</h3></p>
                    </div>
                    <div class="col">
                        <form asp-page-handler="AddToKart" method="post" name="addToKartForm" id="add_cart_form">
                            <a href="javascript:;" onclick="parentNode.submit();" class="btn btn-success btn-block">Add to Kart</a>
                            <input type="hidden" asp-for="@Model.Id" name="productId" />
                        </form>

                    </div>
                </div> 
            </div>
    </div>
</div>